In [4]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn
dataset=pd.read_csv(r"C:\Users\harsh\Downloads\zeemusiccompany_top_videos1.csv")
df = pd.DataFrame(dataset)
df

,channel,title,published_at,duration,view_count,like_count,comment_count
0,Zee Music Company,Mile Ho Tum - Reprise Version | Neha Kakkar | ...,2016-07-27T12:25:03Z,PT4M1S,1306078283,7833023.0,383935.0
1,Zee Music Company,Kala Chashma | Baar Baar Dekho | Sidharth M Ka...,2016-07-27T04:28:59Z,PT2M54S,955890603,3398338.0,68632.0
2,Zee Music Company,Phir Bhi Tumko Chaahunga - Full Song | Arijit ...,2017-07-06T13:48:11Z,PT6M2S,944312202,5155964.0,195383.0
3,Zee Music Company,Jaha Tum Rahoge | Maheruh | Amit Dolawat & Dri...,2017-11-02T10:21:42Z,PT5M22S,887911122,1484635.0,61045.0
4,Zee Music Company,Laila Main Laila | Raees | Shah Rukh Khan | Su...,2016-12-21T12:29:15Z,PT2M41S,796425443,3002659.0,74340.0
...,...,...,...,...,...,...,...
569,Zee Music Company,Teri Chahat Tanpura Version - Nikhita Gandhi x...,2024-01-04T10:30:24Z,PT4M31S,6845,265.0,36.0
570,Zee Music Company,#OMeriLaila #LailaMajnu #TriptiDimri #AtifAsla...,2024-01-04T11:39:37Z,PT57S,4718,557.0,6.0
571,Zee Music Company,Mohabbatein Shukriya - Full Video | Pippa | Is...,2024-01-04T11:00:06Z,PT3M45S,3272,145.0,34.0
572,Zee Music Company,#KoochNaKarin #LoadWedding #FahadMustafa #Mehw...,2024-01-04T12:50:40Z,PT1M1S,3044,297.0,3.0
573,Zee Music Company,Jaan Da (Rab Di Dua) | Tejas | Kangana Ranaut ...,2024-01-04T12:30:33Z,PT4M40S,1758,89.0,20.0

In [15]:
print("Before:",df1.shape)

AttributeError: 'function' object has no attribute 'shape'

In [5]:
df.isnull().sum()

channel          0
title            0
published_at     0
duration         0
view_count       0
like_count       3
comment_count    1
dtype: int64

In [16]:
df1=df.copy()

In [17]:
print("Before:",df1.shape)

Before: (574, 7)

In [18]:
df1.dropna(inplace=True)

In [19]:
print("After:",df1.shape)

After: (570, 7)

In [13]:
df2 = df.copy()

In [14]:
# Select only numeric columns
numeric_columns = df2.select_dtypes(include='number').columns

# Fill missing values with the mean of each numeric column
df2[numeric_columns] = df2[numeric_columns].fillna(df2[numeric_columns].mean())

# count the number of NaN values in each column
print(df2.isnull().sum())

channel          0
title            0
published_at     0
duration         0
view_count       0
like_count       0
comment_count    0
dtype: int64

In [72]:
df3 = df.copy()

In [73]:
# Check the type of df to ensure it is a DataFrame
print(type(df3))

# Identify numeric columns
numeric_columns = df3.select_dtypes(include='number').columns

# Replace NaN values with the mean for numeric columns using the replace method
df3[numeric_columns] = df3[numeric_columns].replace(to_replace=np.nan, value=df3[numeric_columns].mean())

# Identify non-numeric columns
non_numeric_columns = df3.select_dtypes(exclude='number').columns

# For non-numeric columns, you may choose a different strategy, such as dropping them or filling with a specific value
# For example, filling non-numeric columns with a placeholder value (e.g., 'NA')
df3[non_numeric_columns] = df3[non_numeric_columns].fillna('NA')

# Count the number of NaN values in each column
print(df3.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
channel          0
title            0
published_at     0
duration         0
view_count       0
like_count       0
comment_count    0
dtype: int64

In [75]:
df4=df.copy()

In [76]:
df4.interpolate(method='linear')
print(df3.isnull().sum())

channel          0
title            0
published_at     0
duration         0
view_count       0
like_count       0
comment_count    0
dtype: int64

C:\Users\harsh\AppData\Local\Temp\ipykernel_9880\3047267056.py:1: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  df4.interpolate(method='linear')